/*
Members portal custom CSS, use this file to override any default Materialize CSS styles or to add new ones.
 */

/* make the page fill the window on smaller pages */
html {
    position: relative;
    min-height: 100%;
}

/* custom footer css */
footer {
    background-color: orange;
    position: absolute;
    left: 0;
    bottom: 0;
    height: 60px;
    width: 100%;
    overflow: hidden;
}

.larger-text {
    font-size: 130%;
}

h3 {
    font-size: 2rem;
}

h2 {
    font-size: 2.5rem;
}

h2 {
    font-size: 3rem;
}

ul.errorlist > * {
    color: red;
}

.edit-button, .delete-button {
    margin-bottom: 5px;
}

.modal-grant-button, .modal-revoke-button {
    width: 100%;
}

.modal-grant-button {
    margin-bottom: 5px;
}

/* the code network green as a text colour */
.cn-green-text {
    color: #8DC641 !important;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.cn-grey-text {
    color: #666766 !important;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.cn-light-text {
    color: #666766 !important;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

.cn-dark-text {
    color: #333333 !important;
    font-family: 'Montserrat', 'Roboto', sans-serif;
}

/* the code network green as a background colour */
.cn-green-background {
    background-color: #8DC641 !important;
}

/* the code network dark as a background colour */
.cn-dark-background {
    background-color: #333333;
}

/* make all the font icons twice as big by default */
.material-icons {
    font-size: 200%;
}

.main-container {
    padding-bottom: 50px;
}

.padding-top-small {
    padding-top: 10px;
}

.padding-top {
    padding-top: 30px;
}

.helptext, body > div.main-container > div > div > form > div.row > div:nth-child(1) > ul {
    font-size: 12px;
    color: grey;
}

.container {
    margin-bottom: 80px;
}

body > div.fullwidth-container > div.modal-overlay {
    width: 100vw;
}

#edit-causes-btn {
    margin-right: 10px;
}

/* materialize small screens (phones) */
@media only screen and (max-width: 600px) {
    /* make the logo same height as navbar but with padding around it */
    #logo {
        height: 70px;
        padding: 8px;
    }

    #memberList > thead > tr > th, #memberList {
        border: none;
        padding: 8px 0;
        text-align: left;
    }

    #activate-member-button {
        margin-bottom: 5px;
    }

    #activate-member-button, #deactivate-member-button {
        width: 100%;
    }

    .modal {
        width: 90%;
        max-height: 90%;
        top: 5% !important;
    }

    #memberList_filter > label > input[type="search"] {
        margin: 0;
    }

    #memberList_wrapper {
        margin: 10px;
    }
}

/* materialize medium screens (tablets) */
@media only screen and (min-width: 601px) {
    /* make the logo same height as navbar but with padding around it */
    #logo {
        height: 90px;
        padding: 10px;
    }

    .home-text-columns {
        min-height: 220px;
    }

    .admin-container {
        max-width: 40%;
        padding-bottom: 70px;
    }

    .medium-width {
        width: 70%;
    }

    .memberlist-container {
        width: 85%;
    }
}

/* materialize large screens (desktops) */
@media only screen and (min-width: 993px) {
    /* Make all the columns on the home page equal height when they're next to each other on desktop */
    .home-text-columns {
        min-height: 150px;
    }

    .modal {
        width: 100% !important;
        max-width: 800px !important;
        min-height: 80vh !important;
    }

    #access-list {
        width: 50%;
        margin: 0 auto;
    }
}

/* materialize large screens (desktops) */
@media only screen and (min-width: 601px) {
    /* Make all the columns on the home page equal height when they're next to each other on desktop */
    #logo-container {
        width: 330px;
    }
}

@media only screen and (min-width: 1100px) and (max-width: 1400px) {
    .container {
        width: 80%;
    }
}

@media only screen and (min-width: 993px) and (max-width: 1100px) {
    .container {
        width: 90%;
    }
}