{% extends 'base.html' %}

{% block title %}Add Interlock{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m4 offset-m4">
            <h4>Add Interlock </h4>
            <form method="post">
                {% csrf_token %}
                {% for field in form %}
                    {% if field.name == "all_members" %}
                        <label>
                            <input type="checkbox" name="all_members" id="id_all_members">
                            <span>{{ field.label }}</span>
                        </label>
                    {% else %}
                        <p>{{ field.errors }}<label style="display:table-cell;">{{ field.name }}: </label>{{ field }}
                        </p>
                    {% endif %}
                {% endfor %}
                <br>
                <br>
                <a class="btn-flat right" onclick="window.history.back();">Cancel</a>
                <button class="btn waves-effect waves-light right" type="submit" name="login">
                    Create Interlock
                </button>
            </form>
        </div>
    </div>
{% endblock %}
