{% extends 'base.html' %}

{% block title %}Edit Interlock{% endblock %}
{% block page_title %}Edit Interlock{% endblock %}

{% block content %}
    <div class="admin-container center row small-row">
        <h3 class="header center text">Edit Interlock</h3>
        <p>Use the form below to update the interlock details.</p>
        <form method="POST" action=""/>
        {% csrf_token %}
        {% for field in form %}
            {% if field.name == "all_members" %}
                <label class="left">
                    {% if field.value == True %}
                        <input type="checkbox" name="all_members" id="id_all_members" checked>
                    {% else %}
                        <input type="checkbox" name="all_members" id="id_all_members">
                    {% endif %}
                    <span>{{ field.label }}</span>
                </label>
            {% elif field.name == "locked_out" %}
                <label class="left">
                    {% if field.value == True %}
                        <input type="checkbox" name="locked_out" id="id_locked_out" checked>
                    {% else %}
                        <input type="checkbox" name="locked_out" id="id_locked_out">
                    {% endif %}
                    <span>{{ field.label }}</span>
                </label>
            {% else %}
                <p>{{ field.errors }}<label style="display:table-cell;">{{ field.name }}: </label>{{ field }}
                </p>
            {% endif %}
        {% endfor %}
        <br>
        <br>

        <a class="btn-flat right" onclick="window.history.back()">Cancel</a>
        <button class="btn waves-effect waves-light right" type="submit" name="action">Save
            <i class="material-icons right">check</i>
        </button>
        </form>
    </div>
{% endblock %}