{% extends 'base.html' %}

{% block title %}Manage Doors{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h4>Current Doors</h4>
            <a href="{% url "add_door" %}" class="waves-effect waves-light btn edit-button">
                Add Door
            </a>
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Last Seen</th>
                    <th>Default Access</th>
                    <th>Locked Out</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for door in doors %}
                    <tr>
                        <td>{{ door.name }}</td>
                        <td>{{ door.ip_address }}</td>
                        {% if not door.last_seen %}
                            <td class="orange-text tooltipped" data-position="top"
                                data-tooltip="Time since the last check in.">never
                            </td>
                        {% elif door.get_unavailable %}
                            <td class="red-text tooltipped" data-position="top"
                                data-tooltip="Time since the last check in.">{{ door.last_seen|timesince }} ago
                            </td>
                        {% else %}
                            <td class="light-green-text tooltipped" data-position="top"
                                data-tooltip="Time since the last check in.">{{ door.last_seen|timesince }} ago
                            </td>
                        {% endif %}
                        <td>{{ door.all_members }}</td>
                        <td>{% if door.locked_out %} <span class="red-text">LOCKED OUT</span>{% else %}
                            <span>False</span> {% endif %}</td>
                        <td>
                            <a href="{% url "edit_door" door_id=door.id %}"
                               class="waves-effect waves-light btn-small edit-button tooltipped"
                               data-position="top" data-tooltip="Edit Door">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{% url "delete_door" door_id=door.id %}"
                               onclick="return confirm('Are you sure you want delete the {{ door.name }} door?')"
                               class="waves-effect waves-light btn-small delete-button tooltipped"
                               data-position="top" data-tooltip="Delete Door">
                                <i class="material-icons">delete</i>
                            </a>
                            <a data-url="{% url "bump_door" door_id=door.id %}" onclick="bumpDoor(this);"
                               class="waves-effect waves-light btn-small delete-button tooltipped"
                               data-position="top" data-tooltip="Bump door open">
                                <i class="material-icons">lock_open</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
