{% extends 'base.html' %}

{% block title %}Manage Interlocks{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h4>Manage Interlocks</h4>
            <a href="{% url "add_interlock" %}" class="waves-effect waves-light btn edit-button">
                Add Interlock
            </a>
            <a href="{% url "view_interlock_sessions" %}" class="waves-effect waves-light btn edit-button">
                View Sessions
            </a>
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Last Seen</th>
                    <th>Last Used</th>
                    <th>Default Access</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for interlock in interlocks %}
                    <tr>
                        <td>{{ interlock.name }}</td>
                        <td>{{ interlock.ip_address }}</td>

                        {% if not interlock.last_seen %}
                            <td class="orange-text tooltipped" data-position="top" data-tooltip="Time since the last check in">never</td>
                        {% elif interlock.get_unavailable %}
                            <td class="red-text tooltipped" data-position="top" data-tooltip="Time since the last check in">{{ interlock.last_seen|timesince }} ago</td>
                        {% else %}
                            <td class="light-green-text tooltipped" data-position="top" data-tooltip="Time since the last check in">{{ interlock.last_seen|timesince }} ago</td>
                        {% endif %}

                        {% if not interlock.get_last_active %}
                            <td class="orange-text tooltipped" data-position="top" data-tooltip="Time since it was last used">never</td>
                        {% elif interlock.get_last_active %}
                            <td class="tooltipped" data-position="top" data-tooltip="Time since it was last used">{{ interlock.get_last_active|timesince }} ago</td>
                        {% endif %}

                        <td>{{ interlock.all_members }}</td>
                        <td>
                            <a href="{% url "edit_interlock" interlock_id=interlock.id %}"
                               class="waves-effect waves-light btn-small edit-button tooltipped" data-position="top" data-tooltip="Edit Interlock">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{% url "delete_interlock" interlock_id=interlock.id %}"
                               class="waves-effect waves-light btn-small delete-button tooltipped" data-position="top" data-tooltip="Delete Interlock">
                                <i class="material-icons">delete</i>
                            </a>
                            <a data-url="{% url "unlock_interlock" interlock_id=interlock.id %}" onclick="unlockInterlock(this);"
                               class="waves-effect waves-light btn-small delete-button tooltipped" data-position="top" data-tooltip="Unlock Interlock">
                                <i class="material-icons">lock_open</i>
                            </a>
                            <a data-url="{% url "lock_interlock" interlock_id=interlock.id %}" onclick="lockInterlock(this);"
                               class="waves-effect waves-light btn-small delete-button tooltipped" data-position="top" data-tooltip="Lock Interlock">
                                <i class="material-icons">lock</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
