{% extends 'base.html' %}

{% block title %}Manage {{config.MEMBERBUCKS_NAME}} Device{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h4>Current {{config.MEMBERBUCKS_NAME}} Device</h4>
            <a href="{% url "add_memberbucks_device" %}" class="waves-effect waves-light btn edit-button">
                Add {{config.MEMBERBUCKS_NAME}} Device
            </a>
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Last Seen</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for device in memberbucks_device%}
                    <tr>
                        <td>{{ device.name }}</td>
                        <td>{{ device.ip_address }}</td>
                        {% if not device.last_seen %}
                            <td class="orange-text">never</td>
                        {% elif device.get_unavailable %}
                            <td class="red-text">{{ device.last_seen|timesince }} ago</td>
                        {% else %}
                            <td class="light-green-text">{{ device.last_seen|timesince }} ago</td>
                        {% endif %}
                        <td>
                            <a href="{% url "edit_memberbucks_device" device_id=device.id %}"
                               class="waves-effect waves-light btn-small edit-button">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{% url "delete_memberbucks_device" device_id=device.id %}"
                               class="waves-effect waves-light btn-small delete-button">
                                <i class="material-icons">delete</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
