{% extends 'base.html' %}

{% block title %}Interlock Sessions{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h4>Interlock Sessions</h4>
            <a href="{% url "manage_interlocks" %}" class="waves-effect waves-light btn edit-button">
                Manage Interlocks
            </a>
            <table id="interlockSessions" class="striped responsive-table">
                <thead>
                <tr>
                    <th>Interlock</th>
                    <th>On Time</th>
                    <th>Off Time</th>
                    <th>Turned On By</th>
                    <th>Turned Off By</th>
                    <th>On For</th>
                </tr>
                </thead>

                <tbody>
                {% for session in sessions %}
                    <tr>
                        <td>{{ session.interlock_name }}</td>
                        <td>{{ session.time_on }}</td>
                        <td>{{ session.time_off }}</td>
                        <td>{{ session.user_on }}</td>
                        <td>{{ session.user_off }}</td>

                        {% if session.completed %}
                            <td class="tooltipped" data-position="top"
                                data-tooltip="Time it was on for">{{ session.on_for }}
                            </td>
                        {% else %}
                            <td class="green-text tooltipped" data-position="top"
                                data-tooltip="Currently active for">{{ session.on_for }}
                            </td>
                        {% endif %}

                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        (function ($) {
            $(function () {
                $('#interlockSessions').DataTable({
                    "initComplete": function () {
                        M.FormSelect.init(document.querySelectorAll('select'), {});
                    }
                });
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
{% endblock %}