{% extends 'base.html' %}

{% block title %}Error 403{% endblock %}
{% block page_title %}Error 403{% endblock %}

{% block body_tag %}
    <body style="background: url(/static/img/home_bg.jpg) no-repeat center center fixed;">
{% endblock %}

{% block content %}
    <div id="homeContainer">
        <div class="row center padding-top">
            <h5 class="header col s12 light">
                Error 403. Access Denied!
            </h5>
            <p>
                Sorry but you do not have access to this page. If you believe this is a bug or error, please email infrastructure@hsbne.org.
            </p>
            <br><br>
        </div>
    </div>
{% endblock %}
