{% extends 'base.html' %}

{% block title %}Add Spacebucks{% endblock %}

{% block content %}
    <div class="medium-width center row small-row">
        <h3 class="header center text">Add Spacebucks</h3>
        <p class="larger-text">Your current spacebucks balance is ${{ user.profile.get_spacebucks_balance }}.</p>
        <p>Unfortunately our add spacebucks feature still isn't finished yet. It will be available shortly.</p>

    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        (function ($) {
            $(function () {
                let table = $('#memberList').DataTable({
                    "initComplete": function () {
                        M.FormSelect.init(document.querySelectorAll('select'), {});
                    }
                });
                table.order([1, 'desc']).draw();
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
{% endblock %}