<!DOCTYPE html>
<html lang="en">
<head>
    {% load staticfiles %}
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-129685827-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-129685827-1');
    </script>

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}HSBNE Member Portal{% endblock %} - HSBNE Member Portal</title>

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='https:////cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>

    <!-- CSS -->
    <link href="{% static '/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static '/css/main.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="shortcut icon" type="image/png" href="{% static '/img/logo.png' %}"/>
</head>

{% block body_tag %}
    <body>
{% endblock %}

<nav class="portal-dark-background" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            <img id="logo" class="left" src="{% static '/img/logo.png' %}" class="brand-logo">
            <div class="hide-on-small-only">Member Portal</div>
        </a>
        <ul class="right hide-on-med-and-down">
            {% if not user.is_authenticated %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signin' %}">Log In</a></li>
            {% endif %}

            {% if user.is_staff %}
                <li><a class="dropdown-trigger-hover" href="#" data-target="admin-dropdown">Admin Tools
                    <i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a class="dropdown-trigger-hover" href="#" data-target="member-dropdown">Member Tools
                    <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger-hover" href="#"
                       data-target="profile-dropdown">Hi, {{ user.profile.first_name }}
                    <i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="sidenav padding-top-small">
            {% if not user.is_authenticated %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'home' %}">Home</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signin' %}">Log In</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <a class="portal-dark-text">Hi, {{ user.profile.first_name }}!</a>
                <div class="divider"></div>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'home' %}">Home</a></li>
                <div class="divider"></div>
                <li><a class="subheader">Profile Tools</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'profile' %}">Profile</a>
                </li>
                {% if not user.profile.state|stringformat:"s" == "noob" %}
                    <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_spacebucks' %}">Spacebucks</a>
                    </li>
                    <li><a class="waves-effect waves-light modal-trigger" href="{% url 'access_permissions' %}">My
                        Access
                        Permissions</a></li>
                    <li>
                {% endif %}
            </li>
                {% if user.is_staff %}
                    <li>
                        <div class="divider"></div>
                    </li>
                    <li><a class="subheader">Admin Tools</a></li>
                    <li><a class="waves-effect waves-light modal-trigger" href="{% url 'member_list' %}">Member List</a>
                    </li>
                    {% if request.user.profile.can_manage_causes %}
                        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_causes' %}">Manage
                            Causes</a>
                        </li>
                    {% endif %}
                    {% if request.user.profile.can_manage_doors %}
                        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_doors' %}">Manage
                            Doors</a>
                        </li>
                    {% endif %}
                    {% if request.user.profile.can_manage_interlocks %}
                        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_interlocks' %}">Manage
                            Interlocks</a>
                        </li>
                    {% endif %}
                {% endif %}

                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="subheader">Member Tools</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'report_spacebug' %}">Report
                    Issue</a></li>
                {% if not user.profile.state|stringformat:"s" == "noob" %}
                    <li><a class="waves-effect waves-light" href="{% url 'list_causes' %}">Cause
                        Members</a></li>
                    <li><a class="waves-effect waves-light" href="{% url 'recent_swipes' %}">Recent
                        Swipes</a>
                    </li>
                    <li><a class="waves-effect waves-light" href="{% url 'last_seen' %}">Last Seen</a>
                    <li><a class="waves-effect waves-light" href="{% url 'submit_proxy' %}">Submit Proxy</a>
                {% endif %}
                <li><a class="waves-effect waves-light" href="{% url 'webcams' %}">Public Webcams</a>
                </li>
            {% endif %}

            {% if user.is_authenticated %}
                <li>
                    <div class="divider"></div>
                </li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signout' %}">Log Out</a></li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <ul id="profile-dropdown" class="dropdown-content">
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'profile' %}">Profile</a></li>

        {% if not user.profile.state|stringformat:"s" == "noob" %}
            <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_spacebucks' %}">Spacebucks</a>
            </li>
            <li><a class="waves-effect waves-light modal-trigger" href="{% url 'access_permissions' %}">Access
                Permissions</a></li>
        {% endif %}
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signout' %}">Log Out</a></li>
    </ul>

    <ul id="member-dropdown" class="dropdown-content">
        <li><a class="waves-effect waves-light" href="{% url 'report_spacebug' %}">Report Issue</a></li>
        {% if not user.profile.state|stringformat:"s" == "noob" %}
            <li><a class="waves-effect waves-light" href="{% url 'list_causes' %}">Cause Members</a>
            </li>

            <li><a class="waves-effect waves-light" href="{% url 'recent_swipes' %}">Recent Swipes</a>
            </li>
            <li><a class="waves-effect waves-light" href="{% url 'last_seen' %}">Last Seen</a></li>
             <li><a class="waves-effect waves-light" href="{% url 'submit_proxy' %}">Submit Proxy</a>
        {% endif %}
        <li><a class="waves-effect waves-light" href="{% url 'webcams' %}">Public Webcams</a></li>
    </ul>

    {% if user.is_staff %}
        <ul id="admin-dropdown" class="dropdown-content">
            <li><a class="waves-effect waves-light modal-trigger" href="{% url 'member_list' %}">Member List</a></li>
            {% if request.user.profile.can_manage_causes %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_causes' %}">Manage
                    Causes</a>
                </li>
            {% endif %}
            {% if request.user.profile.can_manage_doors %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_doors' %}">Manage
                    Doors</a>
                </li>
            {% endif %}
            {% if request.user.profile.can_manage_interlocks %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_interlocks' %}">Manage
                    Interlocks</a>
                </li>
            {% endif %}
        </ul>
    {% endif %}
</nav>

<!-- Modal Structure -->
<div id="aboutModal" class="modal" style="min-height: auto !important;">
    <div class="modal-content">
        <h4>About HSBNE Portal</h4>
        <p>This is an open source, full featured membership portal. It is designed for
            <a href="https://hsbne.org/">HSBNE</a> (Hackerspace Brisbane). It was created by
            <a href="https://jaimyn.com.au">Jaimyn Mayer</a> in his spare time, with a little help from some HSBNE
            members.</p>
        <p>It can manage membership, access permissions, spacebucks, doors, interlocks and more!
            For more information please see the GitHub repo <a target="_blank"
                                                               href="https://github.com/HSBNE/hsbneportal/">here</a>.
        </p>
        <p>For a brief user guide, please see <a target="_blank" href="https://github.com/HSBNE/hsbneportal/wiki">this
            page</a>.</p>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Close</a>
    </div>
</div>

<div class="fullwidth-container">
    {% block fullwidth-content %}
    {% endblock %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="page-footer">
    <div class="container">
        <a target="_blank" class="modal-trigger" href="#aboutModal">About HSBNE Portal</a>
    </div>
</footer>

<!-- Scripts -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

{% block scripts %}
{% endblock %}

<script src="{% static '/js/main.js' %}"></script>

</body>
</html>
