<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}HSBNE Member Portal{% endblock %} | Member Portal</title>
    {% load staticfiles %}

    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
    <link rel='stylesheet' href='https:////cdn.jsdelivr.net/npm/hack-font@3.3.0/build/web/hack.css'>

    <!-- CSS -->
    <link href="{% static '/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static '/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>

    <link rel="shortcut icon" type="image/png" href="{% static '/img/logo.png' %}"/>
</head>
<body>
<nav class="cn-dark-background lighten-1" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            <img id="logo" class="left" src="{% static '/img/logo.png' %}" class="brand-logo">
            <div class="hide-on-small-only">Member Portal</div>
        </a>
        <ul class="right hide-on-med-and-down">
            {% if not user.is_authenticated %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signin' %}">Log In</a></li>
            {% endif %}

            {% if user.is_staff %}
                <li><a class="dropdown-trigger-hover" href="#" data-target="admin-dropdown">Admin Tools
                    <i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><a class="dropdown-trigger-hover" href="#" data-target="member-dropdown">Member Tools
                    <i class="material-icons right">arrow_drop_down</i></a></li>
                <li><a class="dropdown-trigger-hover" href="#" data-target="profile-dropdown">Hi, {{ user.first_name }}
                    <i class="material-icons right">arrow_drop_down</i></a></li>
            {% endif %}
        </ul>

        <ul id="nav-mobile" class="sidenav padding-top-small">
            {% if not user.is_authenticated %}
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'home' %}">Home</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signup' %}">Sign Up</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signin' %}">Log In</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <a class="cn-dark-text">Hi, {{ user.first_name }}!</a>
                <li><div class="divider"></div></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'home' %}">Home</a></li>
                <li><div class="divider"></div></li>
                <li><a class="subheader">Member Tools</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'profile' %}">My Profile</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'access_permissions' %}">Access Permissions</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'home' %}">Change Theme Song</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'edit_causes' %}">Change Causes</a></li>
            {% endif %}

            {% if user.is_staff %}
                <li><div class="divider"></div></li>
                <li><a class="subheader">Admin Tools</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'member_list' %}">Member List</a></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_causes' %}">Manage Causes</a></li>
            {% endif %}

            {% if user.is_authenticated %}
                <li><div class="divider"></div></li>
                <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signout' %}">Log Out</a></li>
            {% endif %}
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>

    <ul id="profile-dropdown" class="dropdown-content">
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'signout' %}">Log Out</a></li>
    </ul>

    <ul id="member-dropdown" class="dropdown-content">
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'profile' %}">My Profile</a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'access_permissions' %}">Access Permissions</a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'home' %}">Change Theme Song</a></li>
        <li><a class="waves-effect waves-light modal-trigger" href="{% url 'edit_causes' %}">Change Causes</a></li>
    </ul>

    {% if user.is_staff %}
        <ul id="admin-dropdown" class="dropdown-content">
            <li><a class="waves-effect waves-light modal-trigger" href="{% url 'member_list' %}">Member List</a></li>
            <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_causes' %}">Manage Causes</a></li>
            <li><a class="waves-effect waves-light modal-trigger" href="{% url 'manage_doors' %}">Manage Doors</a></li>
        </ul>
    {%  endif %}
</nav>

<div class="fullwidth-container">
    {% block fullwidth-content %}
    {% endblock %}
</div>

<div class="container">
    {% block content %}
    {% endblock %}
</div>

<footer class="page-footer">
    <div class="container">
        Portal by <a class="text-lighten-3" target="_blank" href="https://github.com/jabelone">Jaimyn
        Mayer</a>
    </div>
</footer>

<!--  Scripts-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="{% static '/js/materialize.js' %}"></script>

{% block scripts %}
{% endblock %}

<script src="{% static '/js/init.js' %}"></script>

</body>
</html>
