{% extends 'base.html' %}

{% block title %}Home{% endblock %}
{% block page_title %}Home{% endblock %}

{% block body_tag %}
    <body style="background: url(/static/img/home-bg.jpg) no-repeat center center fixed;">
{% endblock %}

{% block content %}
    <div id="homeContainer">
    {% if user.is_authenticated %}
        {% if user.profile.must_update_profile %}
            <div class="row center padding-top">
            <h5 class="header col s12 light">
                Welcome! <br> You are required to update your profile (causes and personal info) before using this
                portal.<br><br>
            </h5>
            <div class="row center">
                <a href="{% url 'edit_profile' %}" target="_blank" class="btn-large cn-green">Update Profile</a>
            </div>
        {% elif user.profile.state == "noob" %}
            <div class="row center padding-top">
            <h5 class="header col s12 light">
                Welcome to the HSBNE member portal!
            </h5>
            <p>
                Thanks for signing up to become a member. To continue the membership process, you need to get
                inducted. To do this, click the button below to sign up for a spot in the next available induction
                session.
            </p>
            <div class="row center">
                <a href="https://hsbnemembership.eventbrite.com.au" target="_blank" id="go-to-induction"
                   class="btn-large cn-green">Induction Signup</a>
            </div>
        {% else %}
            <div class="row center padding-top">
                <h4 class="header col s12 light">
                    Welcome to the HSBNE member portal!
                </h4>
            </div>
            <!--   Icon Section   -->
            <div class="row">
            <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center"><i class="material-icons">class</i></h4>
                        <h5 class="center">HSBNE Wiki</h5>

                        <p class="center light home-text-columns">Our wiki is like the rule book for HSBNE. It contains
                        all the information about our tools, processes and other helpful tips.</p>

                        <div class="row center">
                            <a target="_blank" href="https://wiki.hsbne.org" id="go-to-wiki"
                               class="btn-large cn-green">Read Wiki</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center"><i class="material-icons">view_list</i></h4>
                        <h5 class="center">Trello</h5>
                        <p class="center light home-text-columns">We use Trello for task management. If you want to help
                            out around the space check out Trello for stuff to fix and improve.</p>
                        <div class="row center">
                            <a target="_blank" href="https://trello.com/b/ebCvJ4Th/inbox" id="go-to-trello"
                               class="btn-large cn-green">Visit Trello</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center"><i class="material-icons">bug_report
                        </i></h4>
                        <h5 class="center">Report a Spacebug</h5>
                        <p class="center light home-text-columns">Found something broken at HSBNE that you don't have
                            the time or skills to fix? You can submit a spacebug report.</p>
                        <div class="row center">
                            <a href="{% url 'report_spacebug' %}" id="report_spacebug"
                               class="btn-large cn-green">Report Spacebug</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center"><i class="material-icons">description</i></h4>
                        <h5 class="center">HSBNE Policies</h5>

                        <p class="center light home-text-columns">HSBNE is governed by several important policies,
                            including the code of conduct and safe space policy. You should be familiar with these.</p>

                        <div class="row center">
                            <a target="_blank" href="https://hsbne.org/admin/" id="go-to-policies"
                               class="btn-large cn-green">View Policies</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center"><i class="material-icons">forum</i></h4>
                        <h5 class="center">Discussion Forum</h5>

                        <p class="center light home-text-columns">Visit our official forum for discussions
                        about purchase proposals, policies, build logs and other information.</p>

                        <div class="row center">
                            <a target="_blank" href="https://forum.hsbne.org/" id="go-to-discord"
                               class="btn-large cn-green">Go to Forum</a>
                        </div>
                    </div>
                </div>

                <div class="col s12 m4">
                    <div class="icon-block">
                        <h4 class="center"><i class="material-icons">chat</i></h4>
                        <h5 class="center">Discord Guild</h5>

                        <p class="center light home-text-columns">If you get stuck on something, locked out of the space,
                            or just want a friendly place to hang, check out our discord server.</p>

                        <div class="row center">
                            <a target="_blank" href="https://discord.gg/WKnrfby" id="go-to-discord"
                               class="btn-large cn-green">Go to Discord</a>
                        </div>
                    </div>
                </div>
            </div>
            <br><br>
        {% endif %}
    {% else %}
        <div class="row center padding-top">
            <h5 class="header col s12 light">
                Welcome to the HSBNE member portal!
            </h5>
            <span>
                Please note this is not our main website. This is the membership portal for HSBNE members or those who
                wish to join.
            </span>
            <span class="center light home-text-columns">Our main website has more information about HSBNE. All
                sponsorship, media and other general enquiries should be directed there.</span>
            <br><br>
            <div class="row">
                <div class="col s12 m4">
                    <a href="https://hsbne.org" target="_blank" id="go-to-website" class="btn-large cn-green center">About
                        HSBNE</a><br><br>
                </div>
                <div class="col s12 m4">
                    <a href="{% url 'signup' %}" id="go-to-signup" class="btn-large cn-green center">Member Sign
                        Up</a><br><br>
                </div>
                <div class="col s12 m4">
                    <a href="{% url 'signin' %}" id="go-to-signin" class="btn-large cn-green center">Member Sign In</a>
                </div>
            </div>
            <br><br>
        </div>

    {% endif %}
</div>
{% endblock %}
