{% extends 'base.html' %}

{% block title %}Recent Swipes{% endblock %}

{% block content %}
    <div class="medium-width center row small-row">
        <h3 class="header center text">Recent Swipes</h3>
        <p>Here is a list of the last 15 swipes around HSBNE.</p>
        <table class="striped responsive-table">
            <thead>
            <tr>
                <th>User</th>
                <th>Door</th>
                <th>Date</th>
            </tr>
            </thead>

            <tbody>
            {% for swipe in swipes %}
                <tr>
                    <td>{{ swipe.user.get_full_name }} ({{ swipe.user.username }})</td>
                    <td>{{ swipe.door }}</td>
                    <td>{{ swipe.date }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}