{% extends 'base.html' %}

{% block title %}Cause Members{% endblock %}

{% block content %}
    <div class="medium-width center row small-row">
        <h3 class="header center text">Cause Members</h3>
        <p>If you think you are in the wrong cause please update your cause membership by <a
                href="{% url 'edit_causes' %}">clicking here</a>.</p>
        <ul class="collapsible">
            {% for cause in causes %}
                <li>
                    <div class="collapsible-header"><b>{{ cause.name }} ({{ cause.profile_set.count }} members)</b>&nbsp;- {{ cause.description }}
                    </div>
                    <div class="collapsible-body left-align">
                        <span class="larger-text">List of members:</span>
                        <span>
                            {% for member in cause.profile_set.all %}
                                {{ member }}{% if not forloop.last %},{% endif %}

                            {% endfor %}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}