{% extends 'base.html' %}

{% block title %}Manage Doors{% endblock %}

{% block content %}
    <div class="row center">
        <div class="col s12">
            <h4>Current Doors</h4>
            <a href="{% url "add_door" %}" class="waves-effect waves-light btn edit-button">
                Add Door
            </a>
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Last Seen</th>
                    <th>Default Access</th>
                    <th>Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for door in doors %}
                    <tr>
                        <td>{{ door.name }}</td>
                        <td>{{ door.ip_address }}</td>
                        {% if door.get_unavailable %}
                            <td class="red-text">{{ door.last_seen|timesince }} ago</td>
                        {% else %}
                            <td class="light-green-text">{{ door.last_seen|timesince }} ago</td>
                        {% endif %}
                        <td>{{ door.all_members }}</td>
                        <td>
                            <a href="{% url "edit_door" door_id=door.id %}"
                               class="waves-effect waves-light btn-small edit-button">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{% url "delete_door" door_id=door.id %}"
                               class="waves-effect waves-light btn-small delete-button">
                                <i class="material-icons">delete</i>
                            </a>
                            <a data-url="{% url "open_door" door_id=door.id %}" onclick="unlockDoor(this);"
                               class="waves-effect waves-light btn-small delete-button">
                                <i class="material-icons">lock_open</i>
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
