{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="admin-container row small-row">
        <h3 class="header center text">Your Member Profile</h3>

        <table id="profileTable" class="center striped">
            <tbody>
            <tr>
                <td><b>Username:</b></td>
                <td>{{ user.username }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td>{{ user.first_name }} {{ user.last_name }}</td>
            </tr>
            <tr>
                <td><b>Membership Type:</b></td>
                <td>{{ user.profile.member_type }}</td>
            </tr>
            <tr>
                <td><b>Membership Status:</b></td>
                <td>{{ user.profile.get_state_display }}</td>
            </tr>
            <tr>
                <td><b>Causes:</b></td>
                <td>{% for cause in user.profile.causes.all %}
                    {{ cause }}{% if not forloop.last %},{% endif %}
                {% endfor %}</td>
            </tr>
            </tbody>
        </table>
        <div id='account-info' style="width: 100%;" class="left">
            <p>To change your membership type, please <a href="mailto:executive@hsbne.org">email the executive</a>.</p>
            <p id='last-login'>You last logged in on {{ user.last_login }}</p>

            <a class="btn waves-effect waves-light right" href="{% url 'edit_profile' %}">Edit Profile</a>
            <a id="edit-causes-btn" class="btn waves-effect waves-light right" href="{% url 'edit_causes' %}">Edit
                Causes</a>
        </div>
    </div>
{% endblock %}
