{% extends 'base.html' %}

{% block title %}Report Issue{% endblock %}

{% block content %}
    <div class="admin-container center row small-row">
        <h3 class="header center text">Report A Spacebug</h3>
        <p>Report a broken door, leaky pipe or some other issue around HSBNE.</p>

        {% if message %}
            <p class="form-message">{{ message }}</p>
        {% endif %}

        {% if error %}
            <p class="red-text">{{ error }}</p>
        {% endif %}

        <form method="POST" action="{% url 'report_spacebug' %}"/>
        {% csrf_token %}

        <div class="input-field">
            <i class="material-icons prefix">report</i>
            <input id="title" name="title" type="text">
            <label for="title">Issue Title</label>
        </div>
        <div class="input-field">
            <i class="material-icons prefix">subdirectory_arrow_right</i>
            <textarea id="description" name="description" class="materialize-textarea"></textarea>
            <label for="description">Issue Description</label>
        </div>

        <a class="btn-flat right" onclick="window.history.back();">Cancel</a>
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit Issue</button>
        </form>
    </div>
{% endblock %}