{% extends 'base.html' %}

{% block title %}Report Issue{% endblock %}

{% block content %}
    <div class="admin-container center row small-row">
        <h3 class="header center text">Report A Spacebug</h3>
        <p>Report a broken door, leaky pipe or some other issue around HSBNE.</p>
        <form method="POST" action="{% url 'report_spacebug' %}"/>
        {% csrf_token %}
        {{ form.as_p }}

        {% if messages %}
            <div class="materialert">
                {% for message in messages %}
                    <div{% if message.tags %} class="card-panel {{ message.tags }}"{% endif %}>{{ message }}</div>
                {% endfor %}
            </div>
        {% endif %}

        <a class="btn-flat right" onclick="window.history.back();">Cancel</a>
        <button class="btn waves-effect waves-light right" type="submit" name="action">Submit Issue</button>
        </form>
    </div>
{% endblock %}