{% extends 'base.html' %}

{% block title %}Webcams{% endblock %}

{% block fullwidth-content %}
    <div class="center row small-row">
        <h3 class="header center text">Webcams</h3>
        <p>This page shows images of the two public webcams at HSBNE, updated every 5 minutes for your convenience.</p>

        <div class="col s12 l6">
            <h5>Green Room</h5>
            <a href="/webcamsnapshots/greenroom.jpg"><img style="max-width:100%;" src="/webcamsnapshots/greenroom.jpg"></a>
        </div>
        <div class="col s12 l6">
            <h5>The Quad</h5>
            <a href="/webcamsnapshots/quad.jpg"><img style="max-width:100%;" src="/webcamsnapshots/quad.jpg"></a>
        </div>

        <div class="col s12 l6">
            <h5>Metal Shop</h5>
            <a href="/webcamsnapshots/metalshop.jpg"><img style="max-width:100%;" src="/webcamsnapshots/metalshop.jpg"></a>
        </div>

        <div class="col s12 l6">
            <h5>Wood Shop</h5>
            <a href="/webcamsnapshots/woodshop.jpg"><img style="max-width:100%;" src="/webcamsnapshots/woodshop.jpg"></a>
        </div>

        <script type='text/javascript'>
            setTimeout("location.reload();", 300000);
        </script>
    </div>
{% endblock %}