django~=3.0.2
requests~=2.22.0
stripe~=2.42.0
sendgrid~=6.1.1
pyxero~=0.9.1
humanize
uwsgi~=2.0.18
django-constance~=2.6.0
django-picklefield~=2.1.1
gunicorn~=20.0.4
pillow~=7.0.0
django-cors-headers
