django~=3.2.12
requests~=2.27.1
stripe~=2.67.0
pyxero~=0.9.3
humanize~=4.0.0
uwsgi~=2.0.20
django-constance~=2.8.0
django-picklefield~=3.0.1
gunicorn~=20.1.0
django-cors-headers~=3.11.0
black~=22.1.0
pre-commit~=2.17.0
djangorestframework~=3.13.1
markdown~=3.3.6
djangorestframework-simplejwt>=4.7.2
django-csp~=3.7
sentry-sdk~=1.5.8
mysqlclient
git+https://github.com/mailchimp/mailchimp-marketing-python.git
channels~=3.0.4
zeroconf~=0.38.4
postmarker~=1.0
channels_redis~=3.4.0
ics~=0.7
