django~=3.2.13
requests~=2.32.3
stripe~=9.8.0
humanize~=4.9.0
django-constance~=2.9.0
django-picklefield~=3.2
django-cors-headers~=4.3.1
black==25.1.0
pre-commit==3.7.1
djangorestframework==3.15.1
djangorestframework-simplejwt==5.3.1
django-csp~=3.8
sentry-sdk==2.3.1
mysqlclient~=2.2.4
git+https://github.com/mailchimp/mailchimp-marketing-python.git
channels~=3.0.4
zeroconf~=0.132.2
postmarker~=1.0
channels_redis~=3.4.0
ics~=0.7.2
python_http_client~=3.3.7
pwned-passwords-django~=2.1
celery~=5.4.0
django-celery-results~=2.5.1
django-celery-beat~=2.6.0
redis~=4.3.1
twilio~=9.1.0
django-prometheus==2.3.1
psycopg2-binary~=2.9.9
django-oidc-provider~=0.8.2
djangorestframework-api-key~=3.0.0
prometheus-client~=0.20.0
python-dateutil~=2.9.0
django-import-export~=3.3.9
docuseal~=1.0.3