{% extends 'base.html' %}

{% block title %}Sign In{% endblock %}
{% block page_title %}Sign In{% endblock %}

{% block content %}
    <h3 class="header center text">Log in to our community</h3>
    <div class="admin-container row small-row">
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn waves-effect waves-light" type="submit" name="login">Login
                <i class="mdi mdi-arrow-right-thick"></i>
            </button>
        </form>
    </div>
{% endblock %}