{% extends 'base.html' %}

{% block title %}Sign Up{% endblock %}
{% block page_title %}Sign Up{% endblock %}

{% block content %}
    <h3 class="header center text">Sign up to our community</h3>

    <div class="row padding-top-small">
        <form method="post">
            <div class="row">
                <div class="col s12 m6 offset-m3">
                    <div class="errors">
                        {% if user_form.errors %}
                            {% for field in user_form %}
                                {% for error in field.errors %}
                                    <div class="chip error-chip">
                                        {{ error|escape }}
                                        <i class="close material-icons">close</i>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% for error in user_form.non_field_errors %}
                                <div class="chip">
                                    {{ error|escape }}
                                    <i class="close material-icons">close</i>
                                </div>
                            {% endfor %}
                        {% endif %}

                    {% if profile_form.errors %}
                            {% for field in profile_form %}
                                {% for error in field.errors %}
                                    <div class="chip error-chip">
                                        {{ error|escape }}
                                        <i class="close material-icons">close</i>
                                    </div>
                                {% endfor %}
                            {% endfor %}

                            {% for error in profile_form.non_field_errors %}
                                <div class="chip">
                                    {{ error|escape }}
                                    <i class="close material-icons">close</i>
                                </div>
                            {% endfor %}
                        {% endif %}
                    </div>

                    <p class="text">You are required to fill out all fields to sign up. We will never share your
                        personal information with any third party without your explicit consent.</p>
                    {{ user_form.as_p }}
                    {{ profile_form.as_p }}

                    <label>You can select up to 3 causes that interest you.</label>

                    <br><br>

                    <button class="btn waves-effect waves-light" type="submit" name="signup">Sign Up
                        <i class="mdi mdi-arrow-right-thick"></i>
                    </button>
                </div>
            </div>
            {% csrf_token %}
        </form>
    </div>
{% endblock %}