// global css in Sass form

@media (max-width: $breakpoint-sm-max) {
  .q-page {
    padding: 16px 16px;
  }
}

@media (min-width: $breakpoint-sm-min) {
  .q-page {
    padding: 32px;
  }

  .q-tab-panels--dark,
  .q-dark > .q-tabs {
    background: $grey-10;
  }
}

.q-page {
  max-width: $maxWidth;
  margin: auto;
}

.q-table__bottom-nodata-icon {
  font-size: 200%;
  margin-right: 16px;
}

.dialog-close-button {
  position: absolute;
  top: 0;
  right: 0;
}

.q-tab-panel {
  overflow-y: scroll;
  max-width: 100%;
}

.manage-member-modal {
  max-width: 700px !important;
}

.q-table__container {
  max-width: 100%;
}

.q-item__section--side > .q-item__label {
  max-width: 200px;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

a {
  color: $secondary;
}

.body--dark a {
  color: white;
}

h4 {
  font-size: 1.9rem;
}

h3 {
  font-size: 2.1rem;
}

h2 {
  font-size: 2.3rem;
}

.body--light {
  .bg-page-gradient {
    background: radial-gradient($accent, $secondary);
  }
}

.body--dark {
  .bg-page-gradient {
    background: radial-gradient($accent, $secondary);
    backdrop-filter: brightness(70%);
  }
}
