// Quasar Sass (& SCSS) Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass/SCSS variables found in Quasar's source Sass/SCSS files.

// Check documentation for full list of Quasar variables

// Your own variables (that are declared here) and Quasar's own
// ones will be available out of the box in your .vue/.scss/.sass files

// It's highly recommended to change the default colors
// to match your app's branding.
// Tip: Use the "Theme Builder" on Quasar's documentation website.

$primary   : #278ab0
$toolbar   : #0461b1
$accent    : #189ab4

$positive  : #18a558
$negative  : #f83839
$info      : #7fe5f0
$warning   : #fad02c

$minWidth: 300px
$maxWidthMedium: 500px
$maxWidth: 1200px

.bg-primary-toolbar
  background: $toolbar

.bg-primary-btn
  background: $accent

