{% extends 'base.html' %}

{% block title %}{{ config.SITE_OWNER }} Digital ID{% endblock %}

{% block content %}
    <div class="admin-container row small-row center-align">
        <h3 class="header center text">{{ config.SITE_OWNER }} Digital ID</h3>

        {% if user.profile.picture %}
            <img style="max-width:150px;" alt="Profile Picture" src="{{ user.profile.picture.url }}">
        {% else %}
            <h4><i class="material-icons">perm_contact_calendar</i></h4>
        {% endif %}

        <h5>{{ user.profile.first_name }} {{ user.profile.last_name }}</h5>
        {% if user.profile.get_state_display == "Active Member" %}
            <h5>Active Member</h5>
        {% elif user.profile.get_state_display == "Inactive Member" %}
            <h5>Inactive Member</h5>
        {% else %}
            <h5>Not a Member</h5>
        {% endif %}
        <h5>Member ID: {{ user.id }}</h5>
        <h5>Signup Date: {{ user.profile.created|date:"d/m/y" }}</h5>
        <br>
        <p>This is an official {{ config.SITE_OWNER }} digital ID. Ensure the URL of this page is
            <b>{{ config.SITE_URL }}/profile/id</b>
            and refresh this page to check validity.</p>
    </div>
{% endblock %}
