{% extends 'base.html' %}

{% block title %}Last Seen{% endblock %}

{% block content %}
    <div class="medium-width center row small-row">
        <h3 class="header center text">Last Seen</h3>
        <p>Here is a list of every single member at HSBNE and when they last swiped their card.</p>
        <table id="memberList" class="data-table striped responsive-table">
            <thead>
            <tr>
                <th>Member</th>
                <th>Date</th>
                <th>Last Seen</th>
            </tr>
            </thead>

            <tbody>
            {% for lastseen in last_seens %}
                <tr>
                    <td>{{ lastseen.user.profile.get_full_name }} ({{ lastseen.user.profile.screen_name }})</td>
                    {% if lastseen.never %}
                        <td>- never seen :O</td>
                        <td></td>
                    {% else %}
                        <td>{{ lastseen.date|date:"y-m-d" }}-{{ lastseen.date|time:"H:i" }}</td>
                        <td>{{ lastseen.date|timesince }}</td>
                    {% endif %}
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        (function ($) {
            $(function () {
                let table = $('#memberList').DataTable({
                    "initComplete": function () {
                        M.FormSelect.init(document.querySelectorAll('select'), {});
                    }
                });
                table.order([1, 'desc']).draw();
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
{% endblock %}