{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Member List{% endblock %}

{% block fullwidth-content %}
    <div class="memberlist-container row small-row">
        <h3 class="header center text">Member List</h3>
        <table id="memberList" class="data-table striped responsive-table">
            <thead>
            <tr style="max-width: 120px;">
                <th>Username</th>
                <th>RFID</th>
                {% if user.profile.can_see_members_personal_details %}
                    <th>Email</th>{% endif %}
                <th>First Name</th>
                <th>Last Name</th>
                <th>Member Type</th>
                <th>Causes</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {% for member in members %}
                <tr>
                    <td>{{ member.profile.screen_name }}</td>
                    <td>{{ member.profile.rfid }}</td>
                    {% if user.profile.can_see_members_personal_details %}
                        <td>{{ member.email }}</td>{% endif %}
                    <td>{{ member.profile.first_name }}</td>
                    <td>{{ member.profile.last_name }}</td>
                    <td>{{ member.profile.member_type.name }}</td>
                    <td>
                        {% for cause in member.profile.causes.all %}
                            {{ cause }}{% if not forloop.last %},{% endif %}
                        {% endfor %}
                    </td>
                    <td>{{ member.profile.get_state_display }}</td>
                    <td>
                        <a id="member-{{ member.id }}" data-url="{% url 'admin_edit_member' member_id=member.id %}"
                           data-access_url="{% url 'admin_edit_access' member_id=member.id %}"
                           onclick="openMemberActionsModal(this)"
                                {% if not member.profile.xero_account_id %}
                           data-name="{{ member.profile.first_name }} {{ member.profile.last_name }} <span class='red-text'>(NOT IN XERO)</span>"
                                {% else %}
                           data-name="{{ member.profile.first_name }} {{ member.profile.last_name }}"
                                {% endif %}
                           data-state="{{ member.profile.state }}"
                           data-id="{{ member.id }}"
                           data-active_url="{% url 'set_state' member_id=member.id state='active' %}"
                           data-deactive_url="{% url 'set_state' member_id=member.id state='inactive' %}"
                           data-resend_welcome_url="{% url 'resend_welcome_email' member_id=member.id %}"
                           data-get_logs_url="{% url 'admin_member_logs' member_id=member.id %}"
                           data-add_to_xero_url="{% url 'add_to_xero' member_id=member.id %}"
                           data-get_spacebucks_url="{% url 'admin_spacebucks_transactions' member_id=member.id %}"
                           data-generate_invoice_url="{% url 'create_invoice' member_id=member.id %}"
                           data-xero_account_id="{{ member.profile.xero_account_id }}"
                           class="waves-effect waves-light btn" href="#">Manage</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        <br>
    </div>

    <div id="member-actions-modal" class="modal">
    <div class="modal-content">
        <div class="row">
            <div class="col s12">
                <h5 id="admin-member-modal-name" style="display: inline-block">{MEMBER NAME}</h5>
                <a id="admin-member-modal-open-xero" href="https://go.xero.com/Contacts/View/" target="_blank" style="display: inline-block">&nbsp;&nbsp;(view in Xero)</a><br><br>
                {% if user.profile.can_disable_members %}
                    <a onclick="setState(true);" id="activate-member-button"
                       class="waves-effect waves-light btn green disabled tooltipped" data-position="top"
                       data-tooltip="Enable Site Access">Enable Access</a>
                    <a onclick="setState(false);" id="deactivate-member-button"
                       class="waves-effect waves-light btn red disabled tooltipped" data-position="top"
                       data-tooltip="Disable Site Access">Disable Access</a>
                {% endif %}
                {% if user.profile.can_generate_invoice %}
                    <a onclick="generateInvoice();" id="generate-invoice-button"
                       class="waves-effect waves-light btn blue tooltipped" data-position="top"
                       data-tooltip="Generate and email an invoice">Generate Invoice</a>
                {% endif %}
                <a onclick="resendWelcome();" id="resend-welcome-button"
                   class="waves-effect waves-light btn blue tooltipped"
                   data-position="top" data-tooltip="Resend Welcome Email">Resend Welcome</a>
                <a onclick="addToXero();" id="resend-to-xero-button"
                   class="waves-effect waves-light btn blue tooltipped"
                   data-position="top" data-tooltip="Warning: Use with caution.">Resend to Xero</a>
                <div id="btn-loader">
                    <div class="indeterminate"></div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col s12">
                <ul class="tabs">
                    {% if user.profile.can_see_members_personal_details %}
                        <li class="tab col s3"><a href="#edit-profile" class="active">Profile</a></li>
                    {% endif %}
                    {% if user.profile.can_manage_access %}
                        <li class="tab col s3"><a href="#manage-access">Access</a></li>
                    {% endif %}
                    {% if user.profile.can_see_members_spacebucks %}
                        <li class="tab col s3"><a href="#spacebucks">Spacebucks</a></li>
                    {% endif %}
                    {% if user.profile.can_see_members_logs %}
                        <li class="tab col s3"><a href="#access-history">Log</a></li>
                    {% endif %}
                </ul>
            </div>

            {% if user.profile.can_see_members_personal_details %}
                <div id="edit-profile" class="col s12">
                    <div id="admin-edit-member-profile"></div>
                </div>
            {% endif %}

            {% if user.profile.can_manage_access %}
                <div id="manage-access" class="col s12">
                    <div id="admin-edit-member-access"></div>
                </div>
            {% endif %}

            {% if user.profile.can_see_members_spacebucks %}
                <div id="spacebucks" class="col s12">
                    <div id="admin-edit-member-spacebucks"></div>
                </div>
            {% endif %}

            {% if user.profile.can_see_members_logs %}
                <div id="access-history" class="col s12">
                    <div id="admin-edit-member-logs"></div>
                </div>
            {% endif %}
        </div>
    </div>

{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>

    <script type="text/javascript" src="{% static '/js/memberlist.js' %}"></script>
    <script>
        {% if user.profile.can_manage_access %}
            can_manage_access = true;
        {% endif %}

        {% if user.profile.can_disable_members %}
            can_disable_members = true;
        {% endif %}

        {% if user.profile.can_see_members_personal_details %}
            can_see_members_personal_details = true;
        {% endif %}

        {% if user.profile.can_see_members_spacebucks %}
            can_see_members_spacebucks = true;
        {% endif %}

        {% if user.profile.can_see_members_logs %}
            can_see_members_logs = true;
        {% endif %}

        {% if user.profile.can_generate_invoice %}
            can_generate_invoice = true;
        {% endif %}

        (function ($) {
            $(function () {
                $('#memberList').DataTable({
                    "initComplete": function () {
                        M.FormSelect.init(document.querySelectorAll('select'), {});
                    }
                });
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
{% endblock %}
