<br>
<div class="row">
    <div class="col s12 m6 center-align">
        <h5>Balance: ${{ balance }}</h5>
    </div>
    <div class="col s12 m6 center-align">
        $ <input id="addAmountInput" placeholder="0.00" type="number" step=".1" class="validate">
        <a onclick="addSpacebucks('{% url 'admin_add_spacebucks' member_id=member.id %}')"
           class="waves-effect waves-light btn" href="#">Add</a>
    </div>
</div>

<table id="spacebucksTable" class="data-table striped responsive-table">
    <thead>
    <tr style="max-width: 120px;">
        <th>Description</th>
        <th>Amount</th>
        <th>When</th>
    </tr>
    </thead>
    <tbody>
    {% for transaction in transactions %}
        <tr>
            <td>{{ transaction.description }}</td>
            {% if transaction.amount > 0 %}
                <td class="light-green-text">${{ transaction.amount }}</td>
            {% else %}
                <td class="red-text">${{ transaction.amount }}</td>
            {% endif %}
            <td>{{ transaction.date|date:"y-m-d" }}-{{ transaction.date|time:"H:i" }} ({{ transaction.date|timesince }}
                ago)
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>