{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block content %}
    <div class="admin-container row small-row center">
        <h3 class="header center text">Your Member Profile</h3>

        <a class="btn waves-effect waves-light" style="margin: 0 auto;" href="{% url 'digital_id' %}">View Digital ID</a><br><br>

        <table id="profileTable" class="center striped">
            <tbody>
            <tr>
                <td><b>Screen Name:</b></td>
                <td>{{ user.profile.screen_name }}</td>
            </tr>
            <tr>
                <td><b>Email:</b></td>
                <td>{{ user.email }}</td>
            </tr>
            <tr>
                <td><b>Phone:</b></td>
                <td>{{ user.profile.phone }}</td>
            </tr>
            <tr>
                <td><b>Name:</b></td>
                <td>{{ user.profile.first_name }} {{ user.profile.last_name }}</td>
            </tr>
            <tr>
                <td><b>Membership Type:</b></td>
                <td>{{ user.profile.member_type }}</td>
            </tr>
            <tr>
                <td><b>Membership Status:</b></td>
                <td>{{ user.profile.get_state_display }}</td>
            </tr>
            {% if user.is_superuser or user.is_staff %}
                <tr>
                    <td><b>Admin Status:</b></td>
                    {% if user.is_superuser %}
                        <td>You're a super user!</td>
                    {% elif user.is_staff %}
                        <td>You're an admin!</td>
                    {% endif %}
                </tr>
            {% endif %}
            <tr>
                <td><b>Causes:</b></td>
                <td>{% for cause in user.profile.causes.all %}
                    {{ cause }}{% if not forloop.last %},{% endif %}
                {% endfor %}</td>
            </tr>
            {% if user.profile.state == "noob" %}
            {% else %}
                <tr>
                    <td><b>Spacebucks:</b></td>
                    <td>Current balance is: ${{ user.profile.spacebucks_balance|floatformat:2 }} (<a
                            href="{% url 'manage_spacebucks' %}">manage</a>)
                    </td>
                </tr>
            {% endif %}

            </tbody>
        </table>
        <div id='account-info' style="width: 100%;" class="left">
            <p>To apply for the starving hacker discount, <a href="{% url 'starving_hacker_form' %}">click here</a>.</p>
            <p>To change your membership type, <a href="mailto:executive@hsbne.org">email the exec</a>.</p>
            <p id='last-login'>You last logged in on {{ user.last_login }}</p>

            <a class="btn waves-effect waves-light right" href="{% url 'edit_profile' %}">Edit Profile</a><br><br>
            <a class="btn waves-effect waves-light right" href="{% url 'change_password' %}">Change Password</a><br><br>
{#            Does not work yet!!#}
{#            <a class="btn waves-effect waves-light right" href="{% url 'edit_theme_song' %}">Change My Theme</a>#}
        </div>
    </div>
{% endblock %}
