{% extends 'base.html' %}

{% block title %}Recent Swipes{% endblock %}

{% block content %}
    <div class="medium-width center row small-row">
        <h3 class="header center text">Recent Swipes</h3>
        <p>Here is a list of the last 50 swipes around HSBNE.</p>
        <table id="recent-swipes-table" class="data-table striped responsive-table">
            <thead>
            <tr>
                <th>User</th>
                <th>Door</th>
                <th>Date</th>
                <th>Last Seen</th>
            </tr>
            </thead>

            <tbody>
            {% for swipe in swipes %}
                <tr>
                    <td>{{ swipe.user.profile.get_full_name }} ({{ swipe.user.profile.screen_name }})</td>
                    <td>{{ swipe.door }}</td>
                    <td>{{ swipe.date|date:"y-m-d" }}-{{ swipe.date|time:"H:i" }}</td>
                    <td>{{ swipe.date|timesince }}</td>
                </tr>
            {% endfor %}

            </tbody>
        </table>

    </div>
{% endblock %}

{% block scripts %}
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8"
            src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script>
        (function ($) {
            $(function () {
                let table = $('#recent-swipes-table').DataTable({
                    "initComplete": function () {
                        M.FormSelect.init(document.querySelectorAll('select'), {});
                    }
                });
                table.order([2, 'desc']).draw();
            }); // end of document ready
        })(jQuery); // end of jQuery name space
    </script>
{% endblock %}