{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="admin-container row small-row">
        <h3 class="header center text">Reset your {{config.SITE_OWNER}} password</h3>

        {% if message %}
            <p class="center-align larger-text green-text">{{ message }}</p>
        {% else %}
            <p class="center-align larger-text red-text">{{ error }}</p>
        {% endif %}

        <div id='account-info' style="width: 100%;" class="left">
            <form method="post">
                {% csrf_token %}
                {{ form }}
                <a class="btn-flat right" onclick="window.history.back();">Cancel</a>
                <button class="btn waves-effect waves-light right" type="submit" name="action">Submit</button>
            </form>
        </div>
    </div>
{% endblock %}
