{% extends 'base.html' %}

{% block title %}Reset Password{% endblock %}

{% block content %}
    <div class="admin-container row small-row">
        <h3 class="header center text">Set your HSBNE password</h3>
        <p class="center-align larger-text green-text">{{ message }}</p>
        <p class="center-align larger-text red-text">{{ error }}</p>

        {% if not error and not message %}
            <div id='account-info' style="width: 100%;" class="left">
                <form method="post">
                    {% csrf_token %}
                    {{ form }}
                    <a class="btn-flat right" onclick="window.history.back();">Cancel</a>
                    <button class="btn waves-effect waves-light right" type="submit" name="action">Confirm</button>
                </form>
            </div>
        {% endif %}
    </div>
{% endblock %}
