{% extends 'base.html' %}

{% block title %}Manage {{config.GROUP_NAME}}{% endblock %}
{% block page_title %}Manage {{config.GROUP_NAME}}{% endblock %}

{% block content %}
    <div class="row">
    {% if request.user.profile.can_add_group %}
        <div class="col s12 m8">
    {% else %}
        <div class="col s12">
    {% endif %}
<h4>Current {{config.GROUP_NAME}}</h4>
<table class="striped responsive-table">
    <thead>
    <tr>
        <th>Name (ID)</th>
        <th>Description</th>
        <th style="width: 120px;">Actions</th>
    </tr>
    </thead>

    <tbody>
    {% for group in groups %}
        <tr>
            <td>{{ group.name }} ({{ group.id }})</td>
            <td>{{ group.description }}</td>
            <td>
                {% if group in user.profile.can_manage_group.all %}
                    <a href="{% url "edit_group" group_id=group.id %}"
                       class="group-button waves-effect waves-light btn-small edit-button tooltipped"
                       data-position="top"
                       data-tooltip="Edit Cause">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="{% url "delete_group" group_id=group.id %}"
                       onclick="return confirm('Are you sure you want to delete the {{ group.name }}?')"
                       class="group-button waves-effect waves-light btn-small delete-button tooltipped"
                       data-position="top"
                       data-tooltip="Delete Cause">
                        <i class="material-icons">delete</i>
                    </a>
                    <a href="{% url "email_group_members" group_id=group.id %}"
                       class="group-button waves-effect waves-light btn-small edit-button tooltipped"
                       data-position="top"
                       data-tooltip="Email Cause">
                        <i class="material-icons">email</i>
                    </a>
                {% else %}
                    <a href="#" disabled
                       class="group-button waves-effect waves-light btn-small edit-button tooltipped"
                       data-position="top"
                       data-tooltip="Edit Cause">
                        <i class="material-icons">edit</i>
                    </a>
                    <a href="#" disabled
                       onclick="return confirm('Are you sure you want delete {{ group.name }}?')"
                       class="group-button waves-effect waves-light btn-small delete-button tooltipped"
                       data-position="top"
                       data-tooltip="Delete Cause">
                        <i class="material-icons">delete</i>
                    </a>
                    <a href="#" disabled
                       class="group-button waves-effect waves-light btn-small edit-button tooltipped" disabled
                       data-position="top" data-tooltip="Manage Funds">
                        <i class="material-icons">attach_money</i>
                    </a>
                    <a href="#" disabled
                       class="group-button waves-effect waves-light btn-small edit-button tooltipped"
                       data-position="top"
                       data-tooltip="Email Cause">
                        <i class="material-icons">email</i>
                    </a>
                {% endif %}
            </td>
        </tr>
    {% endfor %}

    </tbody>
</table>
</div>

{% if request.user.profile.can_add_group %}
    <div class="col s12 m4">
        <h4>Add Cause </h4>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn waves-effect waves-light" type="submit" name="login">
                Add
            </button>
        </form>
    </div>
{% endif %}
</div>
{% endblock %}
