{% extends 'base.html' %}

{% block title %}{{config.GROUP_NAME}} Funds{% endblock %}

{% block content %}
    <div class="medium-width center row small-row">
        <h3 class="header center text">{{config.GROUP_NAME}} Funds</h3>
        <ul class="collapsible">
            {% for cause in causes %}
                <li>
                    <div class="collapsible-header"><b>{{ cause.name }}</b>&nbsp;- {{ cause.description }}
                    </div>
                    <div class="collapsible-body left-align">
                        <span class="larger-text">List of funds:</span>
                    <br>
                        <span>
                            {% for fund in cause.get_funds_set %}
                                {{ fund.name }} - {{ fund-description }}<br>
                            {% endfor %}
                        </span>
                    </div>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
