{% extends 'base.html' %}

{% block title %}Manage Causes{% endblock %}
{% block page_title %}Manage Causes{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12 m8">
            <h4>Current Causes</h4>
            <table class="striped responsive-table">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th style="width: 120px;">Actions</th>
                </tr>
                </thead>

                <tbody>
                {% for cause in causes %}
                    <tr>
                        <td>{{ cause.name }}</td>
                        <td>{{ cause.description }}</td>
                        <td>
                            <a href="{% url "edit_cause" cause_id=cause.id %}" style="width: 52.5px;"
                               class="waves-effect waves-light btn-small edit-button tooltipped" data-position="top" data-tooltip="Edit Cause">
                                <i class="material-icons">edit</i>
                            </a>
                            <a href="{% url "delete_cause" cause_id=cause.id %}" onclick="return confirm('Are you sure you want delete the {{ cause.name }} cause?')"  style="width: 52.5px;"
                               class="waves-effect waves-light btn-small delete-button tooltipped" data-position="top" data-tooltip="Delete Cause">
                                <i class="material-icons">delete</i>
                            </a>
                            <a href="{% url "manage_cause_funds" cause_id=cause.id %}" style="width: 100%;"
                               class="waves-effect waves-light btn-small edit-button tooltipped" data-position="top" data-tooltip="Manage Funds">
                                Funds
                            </a>
                        </td>
                    </tr>
                {% endfor %}

                </tbody>
            </table>
        </div>

        <div class="col s12 m4">
            <h4>Add Cause </h4>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn waves-effect waves-light" type="submit" name="login">
                    Add
                </button>
            </form>
        </div>
    </div>
{% endblock %}
