name: JavaScript Linter (eslint)
on: [push, pull_request]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install modules
        working-directory: ./frontend
        run: npm i
      - name: Run ESLint
        working-directory: ./frontend
        run: npm run lint